.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
}

.item {
    position: relative;
    overflow: hidden;

    // The Overlay
    &:after {
        content: '';
        position: absolute;
        display: block;
        background: $main-clr;
        opacity: 0.9;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(2) translate(-75%, -75%) rotate(-28deg);
        transition: transform 3s cubic-bezier(0.075, 1, 0.165, 1);
    }

    // Bring in main-clr overlay
    &:hover::after {
        transform: scale(2) translate(0, 0) rotate(-28deg);
    }

    // Scale Img on the :hover
    &-img {
        transition: transform 1s cubic-bezier(0.1, 0.13, 0.165, 1);
    }

    &:hover &-img {
        transform: scale(1.2);
    }

    // Bring in text on hover
    &-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        transform: translateY(-1rem);
        opacity: 0;
        z-index: 1;
        text-align: center;
        text-transform: uppercase;
        transition: transform 1s cubic-bezier(0.1, 0.13, 0.165, 1), opacity 1s cubic-bezier(0.1, 0.13, 0.165, 1);
        // transition-delay: 0.3s;
    }

    &:hover &-text {
        opacity: 1;
        transform: translateY(0);
    }

    &-title {
        font-size: 2rem;
    }

    &-category {
        font-size: 1.2rem;
    }
}