// Tablets
@media (max-width: 800px) {
    #header-home {
        height: 75vh;

        .header-content {
            padding-top: 3rem;
        }
    }
}

// 620px and less
@media (max-width: 620px) {
    // Large Heading
    .l-heading {
        font-size: 3.3rem;
    }

    // Main nav
    #main-nav {
        flex-direction: column;

        #logo, ul {
            align-self: center;
        }

        li {
            padding: .9rem;
        }
    }

    // Header
    #header {
        &-home {
            background-position: 55% center;
        }

        &-inner {
            height: 10rem;
            border-width: 2px;
        }
    }
}

// @media (max-height: 640px) {
//     // Header
//     #header-home {
//         height: 100vh;
//     }
// }