// Tablets
@media (max-width: 800px) {
    #header-home {
        height: 75vh;
    }
}

// 620px and less
@media (max-width: 620px) {
    // Large Heading
    .l-heading {
        font-size: 3.3rem;
    }

    // Paddings
    .py-3, .py-2, .py-1 {
        padding: 1rem 0;
    }

    // Main nav
    #main-nav {
        flex-direction: column;

        #logo,
        ul {
            align-self: center;
        }

        li {
            padding: .9rem;
        }
    }

    // Header
    #header {
        &-home {
            background-position: 55% center;

            .header-content {
                padding-top: 3rem;
            }
        }

        &-inner {
            height: 10rem;
            border-width: 2px;
        }
    }

    // Stack Grid Columns
    #home-a .specials,
    #home-b,
    #home-c .process,
    #about-d .testimonials,
    #work-a .items,
    #contact-a .form-wrap,
    #contact-b .contact-info {
        grid-template-columns: 1fr;
    }

    // Home Page
    #home-a .specials div {
        border: $medium-clr 1.5px solid;
        border-radius: 5px;
        padding: .5rem;
    }

    #home-b div {
        height: 200px;
    }

    #home-c .process .card {
        box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
    }

    // About Page
    #about {
        &-a {
            .about-info {
                grid-template-areas:
                'bio-image'
                'bio'
                'aw1'
                'aw2'
                'aw3';
            }
        }

        &-c {
            display: none;
        }
    }

    // Contact
    #contact-a .form-wrap #message {
        grid-column: 1;
    }

    #contact-b .contact-info div {
        border-bottom: 1px $medium-clr dotted;

        &:last-child {
            border: none;
        }
    }

    // Footer
    #main-footer {
        height: 7rem;
        .footer-content {
            flex-direction: column;
            height: 100%;
            justify-content: center;
        }
    }
}

@media (max-height: 730px) {
    #header-home {
        height: 100vh;
    }
}

@media (width: 1024), (height: 1366px) {
    #header-home {
        height: 50vh;
    }
}

@media (width: 540px), (height: 720px) {
    #header-home {
        height: 70vh;
    }
}