/* Utility Classes*/
.container {
    max-width: 1280px;
    margin: auto;
    padding: 0 1.5rem;
    overflow: hidden;
}

.l-heading {
    font-size: 4rem;
    line-height: 1.2;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.txt-center {
    text-align: center;
}

// Buttons
%btn-shared {
    display: inline-block;
    margin-top: 0.8rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
    border: none;
    transition: 0.4s background ease;
}

.btn {
    &-main {
        @extend %btn-shared;
        color: #000;
        background: $main-clr;
    }
    &-light {
        @extend %btn-shared;
        color: #000;
        background: $light-clr;
    }
    &-dark {
        @extend %btn-shared;
        color: $light-clr   ;
        background: $dark-clr;
    }
}

button[class^='btn-']:hover,
input[class^='btn-']:hover,
a[class^='btn-']:hover {
    background: $main-clr;
}

// Padding Classes
.p1 { padding: 1rem;}
.p2 { padding: 1.5rem;}
.p3 { padding: 2rem;}
.py1 { padding: 1rem 0;}
.py2 { padding: 1.5rem 0;}
.py3 { padding: 2rem 0;}

// Cards
.card {
    padding: 1rem;
    text-align: center;
    transition: 0.6s box-shadow ease;
    margin-bottom: 1rem;
}

// Bottom line
.bottom-line {
    height: 2px;
    width: 3.5rem;
    background: $main-clr;
    margin: 0 auto;
}

.section-title {
    font-size: 2rem;
}