/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import 'config';
@import 'utilities';

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
body {
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: $dark-clr;
}

ul, li {
    list-style: none;
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

h2, h3, h4 {
    text-transform: uppercase;
}

p {
    margin: 10px 0;
}

/* Logo */
#logo {
    width: 75px;
    height: 75px;
}

/* Header */
#header {
    // Header Home
    &-home {
        color: #fff;
        background: $bg-img no-repeat center center/cover;
        height: 100vh;

        // Header Content
        .header-content {
            // height: 80vh;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
            padding-top: 20%;
            text-align: center;
        }
    }

    // Header Inner
    &-inner {

    }
}

/* Main Nav */
#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    ul {
        display: flex;
    }

    li {
        padding: 1rem 1.5rem;
    }

    a {
        display: inline-block;
        color: #fff;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: 0.4s border-color ease;

        &:hover {
            border-color: $medium-clr;
        }

        &.current {
            border-color: $main-clr;
        }
    }
}

/* Home Section */
#home {
    &-a {
        .specials {
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1rem;

            i {
                color: $main-clr;
                margin-bottom: 0.4rem;
            }
        }
    }

    &-b {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        div {
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            i, span {
                padding: .5rem;
            }
        }

        div:nth-child(odd) {
            background: $light-clr;
        }

        div:nth-child(even) {
            background: $medium-clr;
        }

        .stats-title {
            font-size: 1.5rem;
        }

        .stats-number {
            font-size: 2rem;
            font-weight: bold;
        }
    }
}