/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import 'config';
@import 'utilities';

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
body {
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: $dark-clr;
}

ul, li {
    list-style: none;
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

h2, h3, h4 {
    text-transform: uppercase;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Logo */
#logo {
    width: 75px;
    height: 75px;
}

/* Header */
#header {
    // Header Home
    &-home {
        color: #fff;
        background: $bg-img no-repeat center right/cover;
        height: 100vh;

        // Header Content
        .header-content {
            // height: 80vh;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
            padding-top: 20%;
            text-align: center;
        }
    }

    // Header Inner
    &-inner {
        background: $bg-img no-repeat 20% 30%/cover;
        height: 6rem;
        border-bottom: 3px $main-clr solid;
    }
}

/* Main Nav */
#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    ul {
        display: flex;
    }

    li {
        padding: 1rem 1.5rem;
    }

    a {
        display: inline-block;
        color: #fff;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: 0.4s border-color ease;

        &:hover {
            border-color: $medium-clr;
        }

        &.current {
            border-color: $main-clr;
        }
    }
}

/* Home Section */
#home {
    // Home Section A
    &-a {
        .specials {
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1rem;

            i {
                color: $main-clr;
                margin-bottom: 0.4rem;
            }
        }
    }

    // Home Section B
    &-b {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        div {
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            i, span {
                padding: .5rem;
            }
        }

        div:nth-child(odd) {
            background: $light-clr;
        }

        div:nth-child(even) {
            background: $medium-clr;
        }

        .stats-title {
            font-size: 1.5rem;
        }

        .stats-number {
            font-size: 2rem;
            font-weight: bold;
        }
    }

    // Home Section C
    &-c {
        .process {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: .5rem;
            margin-top: 2rem;
            
            // &-icon {
            //     position: relative;
            //     background: $dark-clr;
            //     color: #fff;
            //     padding: 2rem;
            //     border-radius: 50%;
            //     height: 120px;
            //     width: 120px;
            //     text-align: center;
            //     transition: all 1s;
            // }
            
            // &-step {
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     font-size: 28px;
            //     background: $main-clr;
            //     height: 15px;
            //     width: 15px;
            //     line-height: 15px;
            //     padding: 1rem;
            //     border-radius: 50%;
            //     transition: 1s all ease;
            // }

            &-img {
                position: relative;
                background: $dark-clr;
                color: #fff;
                height: 120px;
                width: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1rem;
                border-radius: 50%;
                margin: 0 auto 1rem auto;
                transition: 1s all ease;
            }

            &-step {
                position: absolute;
                top: 0;
                right: 0;
                height: 2.5rem;
                width: 2.5rem;
                background: $main-clr;
                font-size: 28px;
                font-weight: bold;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                transition: 1s background ease;
            }

            .card:hover {
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
                .process-img {
                    background: $main-clr;
                    width: 135px;
                    height: 135px;
                }
                .process-step {
                    background: $dark-clr;
                }
            }
        }
    }
}

// About Sections
#about {
    // About - A
    &-a {
        .about-info {
            display: grid;
            grid-template-areas:
            'bio-image bio bio'
            'aw1 aw2 aw3';
            grid-gap: 1rem;
            
            .bio-img {
                grid-area: bio-image;
            }
            
            .bio {
                grid-area: bio;
                padding: 1rem;
                border-left: 3px $main-clr solid;
                
                p {
                    margin-bottom: 0;
                }
            }
            
            .award {
                text-align: center;
                margin-top: 1rem;
                .fas {
                    margin-bottom: 1rem;
                    color: $main-clr;
                }
            }
            
            .aw1 {
                grid-area: aw1;
            }
            .aw2 {
                grid-area: aw2;
            }
            .aw3 {
                grid-area: aw3;
            }
        }
    }
    
    // About - B
    &-b {
        .progress {
            width: 100%;
            height: 1.2rem;
            background: $medium-clr;
            border-radius: 5px;
            margin-bottom: 0.8rem;
            margin-top: 5px;
            
            div {
                height: 100%;
                background: $main-clr;
                border-radius: 5px;
            }
        }
    }
    
    // About - C
    &-c {
        .about-logos {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1.5rem;
            
            img {
                width: 70%;
            }
        }
    }
    
    // About - D
    &-d {
        .testimonials {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: .5rem;
            
            ul {
                display: flex;
                margin-top: 1rem;
                align-items: center;
                
                img {
                    width: 70px;
                    border-radius: 50%;
                    margin-right: 0.5rem;
                }
            }
            
            p {
                border: $medium-clr 1px solid;
                border-radius: 5px;
                padding: .5rem;
            }
        }
    }
}

// Work | Gallery
@import 'gallery';

// Contact
#contact {
    // Section A - Contact Form
    &-a {
        .form-wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1.2rem;
            margin-bottom: 1.2rem;
        }

        #message {
            grid-column: 1 / span 2;
            height: 6rem;
        }

        input, textarea {
            padding: .5rem 1rem;
        }

        button[type='submit'] {
            width: 50%;
        }
    }

    &-b {
        .contact-info {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1rem;
        }
    }
}

/* Main Footer */
#main-footer {
    background: $dark-clr;
    color: #fff;
    height: 5rem;

    .footer-content {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        align-items: center;

        .s-media a {
            display: inline-block;
            margin-right: 1rem;
            padding: 7px 10px;
            border-radius: 50px;
            border: 2px #fff solid;
            color: #fff;
            transition: 0.3s background ease;

            &:hover {
                background: $main-clr;
            }
        }
    }
}